In [4]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

df=pd.read_csv("hotel_bookings.csv")
df.head(3)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02

In [5]:
df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [6]:
#缺失值处理

In [7]:
#缺失值处理---处理children
average_children=round(df["children"].mean())
df["children"]=df["children"].fillna(value=average_children)
df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               0
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [8]:
#缺失值处理---处理country
df["country"].value_counts()

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
ITA     3766
IRL     3375
BEL     2342
BRA     2224
NLD     2104
USA     2097
CHE     1730
CN      1279
AUT     1263
SWE     1024
CHN      999
POL      919
ISR      669
RUS      632
NOR      607
ROU      500
FIN      447
DNK      435
AUS      426
AGO      362
LUX      287
MAR      259
TUR      248
HUN      230
ARG      214
       ...
ATF        1
AIA        1
NIC        1
NAM        1
KIR        1
MLI        1
NCL        1
BFA        1
MRT        1
FJI        1
MMR        1
SMR        1
LCA        1
NPL        1
BWA        1
MDG        1
ASM        1
DJI        1
UMI        1
PLW        1
GUY        1
SDN        1
BDI        1
DMA        1
PYF        1
VGB        1
HND        1
CYM        1
BHS        1
SLE        1
Name: country, Length: 177, dtype: int64

In [9]:
#缺失值处理---处理country
#用最多的那个代替缺失值
df["country"]=df["country"].fillna(value="PRT")
df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               0
babies                                 0
meal                                   0
country                                0
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [10]:
#缺失值处理---company和agent
df.drop(["company"],axis=1,inplace=True)
df.drop(["agent"],axis=1,inplace=True)
#drop函数默认删除行，列需要加axis = 1
#手动设定为True（默认为False），那么原数组直接就被替换。也就是说，采用inplace=True之后，原数组名对应的内存值直接改变

In [11]:
df.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [12]:
# 查看一下数据信息
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 30 columns):
hotel                             119390 non-null object
is_canceled                       119390 non-null int64
lead_time                         119390 non-null int64
arrival_date_year                 119390 non-null int64
arrival_date_month                119390 non-null object
arrival_date_week_number          119390 non-null int64
arrival_date_day_of_month         119390 non-null int64
stays_in_weekend_nights           119390 non-null int64
stays_in_week_nights              119390 non-null int64
adults                            119390 non-null int64
children                          119390 non-null float64
babies                            119390 non-null int64
meal                              119390 non-null object
country                           119390 non-null object
market_segment                    119390 non-null object
distribution_channel              119390 non-null object
is_repeated_guest                 119390 non-null int64
previous_cancellations            119390 non-null int64
previous_bookings_not_canceled    119390 non-null int64
reserved_room_type                119390 non-null object
assigned_room_type                119390 non-null object
booking_changes                   119390 non-null int64
deposit_type                      119390 non-null object
days_in_waiting_list              119390 non-null int64
customer_type                     119390 non-null object
adr                               119390 non-null float64
required_car_parking_spaces       119390 non-null int64
total_of_special_requests         119390 non-null int64
reservation_status                119390 non-null object
reservation_status_date           119390 non-null object
dtypes: float64(2), int64(16), object(12)
memory usage: 27.3+ MB

In [13]:
# 把时间日期换成数字
df["arrival_date_month"].unique()

array(['July', 'August', 'September', 'October', 'November', 'December',
       'January', 'February', 'March', 'April', 'May', 'June'],
      dtype=object)

In [14]:
df["arrival_date_month"]=df["arrival_date_month"].map({'July':7,'August':8,'September':9,'October':11,'November':12,'December':10,
       'January':1,'February':2,'March':3, 'April':4, 'May':5, 'June':6})
df["arrival_date_month"].unique()
df["arrival_date_month"].value_counts()

8     13877
7     12661
5     11791
11    11160
4     11089
6     10939
9     10508
3      9794
2      8068
12     6794
10     6780
1      5929
Name: arrival_date_month, dtype: int64

In [15]:
#one-hot编码
from sklearn.preprocessing import OneHotEncoder

In [16]:
#one-hot编码
df_one_hot = pd.get_dummies(df, prefix="dep")
df_one_hot.shape

(119390, 1174)

In [17]:
x=df_one_hot.drop(['previous_cancellations'], axis = 1)
y=df_one_hot['previous_cancellations']

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [21]:
# 线性回归
lr=LinearRegression()
lr.fit(x_train,y_train)
y_pre=lr.predict(x_test)
print('Mean Absolute Error_lng:', metrics.mean_absolute_error(y_test, y_pre).round(3))  
print('Mean Squared Error_lng:', metrics.mean_squared_error(y_test, y_pre).round(3))  
print('Root Mean Squared Error_lng:', np.sqrt(metrics.mean_squared_error(y_test, y_pre)).round(3))
print('r2_score_lng:', r2_score(y_test, y_pre).round(3))

Mean Absolute Error_lng: 46437.701
Mean Squared Error_lng: 11648019597886.45
Root Mean Squared Error_lng: 3412919.512
r2_score_lng: -14121512027037.334

In [22]:
# 岭回归
ridge=Ridge()
ridge.fit(x_train,y_train)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [23]:
y_pre_ridge=ridge.predict(x_test)
print('Mean Absolute Error_lng:', metrics.mean_absolute_error(y_test, y_pre).round(3))  
print('Mean Squared Error_lng:', metrics.mean_squared_error(y_test, y_pre).round(3))  
print('Root Mean Squared Error_lng:', np.sqrt(metrics.mean_squared_error(y_test, y_pre)).round(3))
print('r2_score_lng:', r2_score(y_test, y_pre).round(3))

Mean Absolute Error_lng: 46437.701
Mean Squared Error_lng: 11648019597886.45
Root Mean Squared Error_lng: 3412919.512
r2_score_lng: -14121512027037.334